body, 
p,
ul{
    margin: 0;
    padding: 0;
}

.body-content{
    font-family: open sans;
    background-color: #f9fafc
}

.header-content{
    background-color: #f9fafc;
    padding: 20px;
}

.nav-list{
    list-style: none;
}

.chirpus{
        font-weight: bold;
}

.top-nav{
    margin: 10px 0;
}

.button{
    background-color: #000;
    text-align: center;
    border-color: #000;
    color: #fff;
    width: 95%;
    border-radius: 20px;
    padding: 10px;;
}

.main-content{
    padding: 0 20px;
}

.lorem{
    color: #69696a;
    border-left: solid #69696a;
    padding-left: 20px;
    margin-bottom: 20px;
}

.footer-content{
    background-color: rgba(247, 193, 162, 0.7);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-text{
    text-align: right;
    padding: 10px;
}

.float{
    float: left;
}

.header-links{
    text-decoration: none;
    color: #69696a;
}

.button-links{
    text-decoration: none;
    color: #fff;
}

.footer-links{
    text-decoration: none;
    color: #69696a;
    padding: 10px;
}

